.container {
	display: flex;
}

.image {
	display: none;
	@media (min-width: 1200px) {
		display: block;
	}
}

.rightBox {
	display: flex;
	flex-direction: column;
	margin-left: 16px;
	margin-right: 16px;
	width: 100%;
	@media (min-width: 1200px) {
		margin-left: 235px;
	}
}

.logo {
	font-size: 24px;
	color: var(--gray-400);
	font-weight: 600;
	margin-left: 16px;
	margin-top: 52px;
	@media (min-width: 1200px) {
		margin-top: 235px;
	}
}

.loginContainer {
	margin-top: 235px;
	@media (min-width: 1200px) {
		margin-top: 235px;
	}
}

.title {
	font-size: 30px;
	font-weight: 600;
}

.loginForm {
	display: flex;
	margin-top: 29px;
	gap: 22px;
	flex-direction: column;
	width: 90%;
	@media (min-width: 1200px) {
		width: 496px;
	}
}

.button {
	margin-top: 56px;
	width: 90%;
	height: 48px;
	font-size: 16px;
	@media (min-width: 1200px) {
		width: 496px;
	}
}

.forgotPassword {
	margin-top: 16px;
	color: var(--gray-300);
	text-decoration: underline;
	cursor: pointer;
}
