html {
	//blue
	--blue-0: #4460f7;
	--blue-100: #2140e8;

	//yellow
	--yellow: #f9a52b;

	//white
	--white: #fff;

	//gray
	--gray-0: #f0f1f5;
	--gray-100: #e0e2ea;
	--gray-200: #b9bdcf;
	--gray-300: #9194a5;
	--gray-400: #1a1b1d;
}
