.productsList {
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: grid;
	grid-gap: 24px;
	padding-left: 24px;
	padding-right: 24px;
	max-width: 1920px;

	@media (min-width: 1380px) {
		grid-template-columns: repeat(4, minmax(268px, 1fr));
		padding-left: 108px;
		padding-right: 108px;
	}
	@media (min-width: 1920px) {
		margin: 0 auto;
	}

	.product {
		display: flex;
		flex-direction: column;
		position: relative;
		background-color: var(--white);
		border-radius: 8px;
		overflow: hidden;
		width: 100%;

		.productImage {
			position: relative;

			.image {
				height: 170px;
				width: 100%;
				object-fit: cover;
			}

			.productOverlay {
				opacity: 0.75;
				background-color: var(--gray-200);
				height: 170px;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
			}
		}

		.productInfo {
			padding: 16px 16px 24px 16px;
			display: flex;
			flex-direction: column;

			.productWrapper {
				display: flex;
				flex-direction: column;
				height: 100px;
			}

			.productName {
				margin: 0;
				font-size: 18px;
				line-height: 16px;
				color: var(--gray-400);
			}

			.productDescription {
				margin-top: 15px;
				font-size: 16px;
				line-height: 16px;
				color: var(--gray-300);
			}

			.productPromo {
				position: absolute;
				top: 16px;
				left: 0px;
				background: var(--yellow);
				padding: 0 16px;
				color: var(--white);
			}
			.productRatingContainer {
				.stars {
					margin-left: 8px;
				}
			}
			.productButton {
				width: 100%;
				height: 38px;
				font-size: 14px;
				margin-top: 16px;
			}
		}
	}
}
