.emptyWrapper {
	width: 600px;
	background-color: var(--white);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	border-radius: 8px;
	height: 344px;
	flex-direction: column;
	position: absolute;

	.upperText {
		color: var(--gray-400);
		font-size: 18px;
		line-height: 16px;
		margin-top: 10px;
	}

	.lowerText {
		color: var(--gray-300);
		font-size: 14px;
		line-height: 16px;
		margin-top: 8px;
	}
}
